body {
    padding: 30px;
}

.user-info {
    max-width: 1200px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.header__user {
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__user-btn {
    padding: 8px 16px;
    color: #000;
    background-color: #ada5a524;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
}

.header__user-btn:hover {
    background-color: #d0cccc;
    border-color: #a09e9e;
}

.header__user-input,
.header__user-select {
    padding: 5px 7px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #404040;
    width: 200px;
}

.header__user-select {
    width: 100px;
    outline: none;
}

.input-age {
    width: 90px;
}

.header__ages-filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.thead {
    background-color: #ada5a524;
    color: #000;
}

.thead__row {
    text-align: left;
}

.thead__row-item {
    position: relative;
    padding: 10px;
    font-weight: 600;
    border: 1px solid #ddd;
    width: 450px;
}

.thead__checkbox {
    width: 100px;
    text-align: center;
}

.tbody__row-item-input {
    padding: 2px 7px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    width: 80%;
}

.thead__row-item-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    right: 10px;
    top: 50%;
}

.thead__row-item-icon {
    transform: translateY(-50%);
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.thead__row-item-icon:hover {
    background-color: #d0cccc;
    border-color: #a09e9e;
}

.tbody__row {
    background-color: #fff;
}

.tbody__row-item {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    width: 450px;
}

.edit,
.delete,
.save,
.cancel {
    padding: 2px 5px;
    border: 1px solid #ddd;
    background-color: #e9e9e9;
    border-radius: 5px;
    font-weight: 600;
}

.edit {
    margin-right: 10px;
}

.save {
    margin-right: 5px;
}

.edit:hover,
.cancel:hover {
    background-color: #222;
    color: #fff;
}

.save:hover {
    background-color: #0000ff;
    color: #fff;
}

.delete:hover {
    background-color: #ff0000;
    color: #fff;
}

/* checkbox */
.real-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.real-checkbox:focus + .custom-checkbox {
    box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 5px #7e9bbd;
}

.custom-checkbox {
    margin-right: 5px;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #7e9bbdcc;
    border-radius: 4px;
    vertical-align: sub;
    background-color: #fff;
}

.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url('/public/images/checkbox.svg');
    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

/* modal__content-form */
.modal__content-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding: 24px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 510px;
    transform: scale(0.5);
    transition: all 0.4s ease-in-out;
}

.modal__content-form.active {
    transform: scale(1);
}

.content__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.label__names {
    margin-bottom: 10px;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
}

.modal__form-input {
    padding: 4px 12px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    width: 386px;
    height: 36px;
    font-size: 14px;
    font-weight: 500;
}

.modal__form-input:focus,
.header__user-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.modal__form-input-error {
    position: absolute;
    top: 100%;
    left: 0;
    color: #ff0000;
    font-size: 12px;
    margin-top: 2px;
}

.modal__form-input.error__border,
.header__user-input.error__border {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.15);
}

.modal__button {
    text-align: center;
}

.modal__form-btn {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
}

.modal__form-btn:hover {
    background-color: #007bff;
}

.disabled__state {
    opacity: 20%;
}

/* tfoot */
.tfoot__cell {
    padding: 5px 10px;
    background-color: #f9f9f9;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pagination__btn {
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
}

.pagination__btn:hover {
    background-color: #bfbdbd;
}

.pagination__text {
    font-size: 14px;
    color: #333;
    font-size: 18px;
}

.pagination__total {
    display: flex;
    gap: 5px;
    font-size: 18px;
}

.pagination__input {
    padding: 2px 10px;
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.pagination__select {
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}

.pagination__option {
    padding: 5px 15px;
}
